@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body {
  background-color: #e0f2fe;
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.main-container {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}
